<!DOCTYPE html>
<html lang="EN" en>
<head>
    <title>phexpedition.net</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div hidden>
    <auth-client-id>{authClientId}</auth-client-id>
    <auth-authority>{authAuthority}</auth-authority>
    <auth-redirect-uri>{authRedirectUri}</auth-redirect-uri>
    <base-url>{baseUrl}</base-url>
</div>
<h1>phexpedition.net</h1>
<p>Nothing to see here! Move along, move along...</p>
<button id="loginButton">Login</button>
<button onclick="apiUser()" nonce="{nonce}">Userinfo</button>
<div id="message"></div>
<div id="userInfo">
    Welcome <span id="userName"></span> (<span id="userMail"></span>)
</div>
<script src="auth.js" nonce="{nonce}"></script>
</body>
</html>
