<!DOCTYPE html>
<html lang="EN">
<head>
    <title>phexpedition.net</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
<h1>phexpedition.net</h1>
<p>Nothing to see here - move along, move along...</p>
<button id="loginButton">Login</button>
<div id="message"></div>
<div id="userInfo" style="display: none; visibility: hidden">
    Welcome <span id="userName"></span> (<span id="userMail"></span>)
</div>

<script>
    // see: https://developers.google.com/identity/protocols/oauth2/javascript-implicit-flow
    // see: (CORS server side) https://gist.github.com/bretmcg/edf0e80a1c600de6c2d40c973de55fc3
    // see: https://developers.google.com/identity/openid-connect/openid-connect
    let config = {
        authority: '{{ authAuthority }}',
        clientId: '{{ authClientId }}',
        redirectUri: '{{ authRedirectUri }}',
        responseType: 'token id_token',
        scope: 'openid profile email',
    }


    let url = new URL(window.location.href)
    let params = new URLSearchParams(url.hash.substr(1))

    let accessToken = params.get("access_token")
    let tokenType = params.get("token_type");
    let expiresIn = params.get("expires_in");
    let scope = params.get("scope");
    let idToken = params.get("id_token");
    let state = params.get("state");

    if (accessToken) {
        document.getElementById('loginButton').style.display = 'none'
        document.getElementById('userInfo').style.display = 'block'
        document.getElementById('userInfo').style.visibility = "visible"

        let jwtPayload = decodeJwtPayload(idToken)

        document.getElementById('userName').innerText = jwtPayload.name
        document.getElementById('userMail').innerText = jwtPayload.email

        //console.log(idToken)
        api(idToken)

    } else {
        document.getElementById('loginButton').addEventListener('click', function () {
            window.location.href = `${config.authority}?` +
                `response_type=${encodeURIComponent(config.responseType)}&` +
                `client_id=${config.clientId}&` +
                `redirect_uri=${config.redirectUri}&` +
                `scope=${encodeURIComponent(config.scope)}&` +
                `state=huepattl-${Date.now()}&` +
                `nonce=huepattl-nonce-${Date.now()}`
        })
    }

    function decodeJwtPayload(jwt) {

        // Split the JWT into its three parts: header, payload, and signature
        const jwtParts = jwt.split(".");
        const jwtHeader = jwtParts[0];
        const jwtPayload = jwtParts[1];
        const jwtSignature = jwtParts[2];

        // Decode the JWT header and payload using Base64Url decoding
        const decodedJwtHeader = JSON.parse(atob(jwtHeader.replace(/-/g, "+").replace(/_/g, "/")));
        const decodedJwtPayload = JSON.parse(atob(jwtPayload.replace(/-/g, "+").replace(/_/g, "/")));

        // Log the decoded JWT header and payload to the console
        console.log("Decoded JWT Payload:", decodedJwtHeader);
        console.log("Decoded JWT Payload:", decodedJwtPayload);
        return decodedJwtPayload
    }

    function api(idToken) {
        let apiUrl = "http://localhost:8080/api2"//"https://api-yr4f3nxarq-ew.a.run.app"

        fetch(apiUrl, {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${idToken}`,
                'Penis': 'Fotze',
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            }
        }).then((response) => response.json())
            .then((data) => {
                console.log(data)
                data.forEach(person => {
                    console.log(`Name: ${person.name}`)
                })
            })
    }

</script>
</body>
</html>
