<!DOCTYPE html>
<html lang="EN">
<head>
    <title>phexpedition.net</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div hidden>
    <auth-client-id>{authClientId}</auth-client-id>
    <auth-authority>{authAuthority}</auth-authority>
    <auth-redirect-uri>{authRedirectUri}</auth-redirect-uri>
    <base-url>{baseUrl}</base-url>
</div>

<header>
    <nav>
        <div class="logo"><a href="/">Phexpedition</a></div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Galleries</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
    <div class="userProfile">
        <button id="loginButton">Login</button>
        <div id="userInfo" style="visibility: hidden">
            <span id="userMail"></span>
        </div>
    </div>
</header>

<main>
    <h1>Hey there!</h1>
    <p>Nothing to see here! Move along, move along...</p>

    <button id="userInfoButton" nonce="{nonce}" style="visibility: hidden">Userinfo</button>
    <button id="userInfoButton2" nonce="{nonce}" style="visibility: hidden">User Info for foo@example.com</button>
    <div id="message"></div>

</main>

<footer>
    (C) 2023-2024 by Hüpattl! Software
</footer>

<script src="auth.js" nonce="{nonce}"></script>
</body>
</html>
